#screen { 
  position: relative; 
  margin: 0 auto; 
  padding: 0; 
  width: 480px; 
  height: 400px; 
  border: 1px solid #ccc; 
}

body { 
  font-size: 16px; 
  line-height: 20px; 
  background-color: #fff; 
  color: #000; 
}

body > h1:closs-word { 
  text-align: center; 
  line-height: normal; 
}

body > div { 
  width: 640px; 
  margin: 16px auto; 
}

#screen > img { 
  position: absolute; 
}

#screen > .script { 
  position: absolute; 
  display: inline-block; 
  font-size: 24px; 
  font-weight: bold; 
}

#screen > .script > p { 
  display: block; 
  max-width: 100%; 
  max-height: 100%; 
  margin: 0 auto; 
  padding: 0; 
  -webkit-writing-mode: vertical-rl; 
  -ms-writing-mode: tb-rl; 
  font-size: 24px; 
  line-height: 36px; 
  overflow: hidden; 
  word-break: break-all; 
  white-space: pre-wrap; 
}

#script_1tate { 
   right: 15px; 
   top: 180px; 
   width: 372px; 
   height: 160px;
   font-size: 300%;
} 

#script_2tate { 
   right: 15px; 
   top: 110px; 
   width: 300px; 
   height: 320px; 
}

#script_3tate { 
   right: 15px; 
   top: 40px; 
   width: 228px; 
   height: 320px; 
} 

#script_4tate { 
   right: 15px; 
   top: 110px; 
   width: 156px; 
   height: 320px; 
 } 

#cpanel { 
  display: block; 
  margin: 16px auto; 
  padding: 0; 
  width: 640px; 
} 

#cpanel > nav { 
  display: inline-block; 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  float: right; 
  margin: 0; 
  padding: 0; 
  max-width: 132px; 
} 

#cpanel > nav > button { 
  display: block;  
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  width: 132px; 
  height: 36px; 
  font-size: 16px; 
  margin-bottom: 4px; 
} 

#cpanel > textarea { 
  display: block; 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 

  margin: 8px 0 0 0; 
  padding: 4px 8px; 
  width: 500px; 
  max-width: 500px; 
  height: 70px; 
  max-height: 70px; 

  font-size: 16px; 
  line-height: 20px; 
 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  -moz-border-radius: 4px; 
}

.social-button { 
  margin-top: 6px; 
} 
