#script_1tate { 
   right: 15px; 
   top: 15px; 
   width: 200px; 
   height: 320px; 
 } 

#script_2tate { 
   right: 15px; 
   top: 15px; 
   width: 200px; 
   height: 320px; 
 } 

#script_3tate { 
   right: 15px; 
   top: 15px; 
   width: 200px; 
   height: 320px; 
 } 

#script_4tate { 
   right: 15px; 
   top: 15px; 
   width: 200px; 
   height: 320px; 
 } 
