<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="default.css">
<title>AngularJSテスト用ページ</title>
</head>
<body>
<div id="screen">
  <img src="closs.jpg" alt="背面">
  <div id="script_1tate" class="script">
    <p>{{text1tate || '縦の１です'}}</p>
  </div>
  <div id="script_2tate" class="script">
    <p>{{text2tate || '縦の２です'}}</p>
  </div>
  <div id="script_1yoko" class="script">
    <p>{{text1yoko || '横の１です'}}</p>
  </div>
</div>
<form id="word">
  <p>縦１：縦１のヒント</p>
  <input type="text" name="input1" ng-model="text1tate"
    placeholder="縦の１です">
  <p>縦２：縦２のヒント</p>
  <input type="text" name="input2" ng-model="text2tate"
    placeholder="縦の２です">
  <p>横１：横１のヒント</p>
  <input type="text" name="input3" ng-model="text1yoko"
    placeholder="横の１です">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</body>
</html>
