<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="default.css">
<title>AngularJSテスト用ページ</title>
</head>
<body>
<div id="screen">
  <img src="closs.jpg" alt="背面">
  <div id="script_1tate" class="script">
    <p>{{text1tate || '縦の１です'}}</p>
  </div>
  <div id="script_2tate" class="script">
    <p>{{text2tate || '縦の２です'}}</p>
  </div>
  <div id="script_3tate" class="script">
    <p>{{text3tate || '縦の３です'}}</p>
  </div>
</div>
<form id="word">
  <p>縦１：春夏冬。儲かってまっか？</p>
  <input type="text" name="input1" ng-model="text1tate"
    placeholder="縦の１です">
  <p>縦２：線路に敷くのは○○○木</p>
  <input type="text" name="input2" ng-model="text2tate"
    placeholder="縦の２です">
  <p>縦３：英語で言うとファルセット</p>
  <input type="text" name="input3" ng-model="text3tate"
    placeholder="縦の３です">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</body>
</html>
